<div class="container">
  <app-navbar></app-navbar>
  <div class="row">
    <div class="col-xs-12">
      <h1>Turbo Island's Next Top Charity Runway Project</h1>
      <h2>Saturday 4th November 2023</h2>
      <h3>An epic journey of pints and charity shops on a loop from The Prince of Wales to The Grace</h3>
      <span>The slowest outfit change in the history of costume swaps!</span>
      <hr>
      <!--            <app-multi-wonk></app-multi-wonk>-->
      <app-favourite-chazza></app-favourite-chazza>
      <hr>
      <app-username></app-username>
      <hr>
      <app-display-details></app-display-details>
    </div>
  </div>
</div>
